#tabellaResponsiva{height: 75vh; overflow: auto; width: fit-content;max-width: 100vw; margin: auto; margin-top: 30px; z-index: 0 }
#tabellaResponsiva table th{font-family: Verdana; font-size: 13.5px; border:1px solid black; border-left:0; background-color: #ababff; padding: 7px;}
#tabellaResponsiva table{border: 1px solid black; border-spacing: 0; border-top:0;border-right:0; margin: auto;
}
#tabellaResponsiva table td{border-right: 1px solid black; max-width: 180px; overflow: clip ; white-space: nowrap;   text-overflow: ellipsis; height: 28px; padding: 7px}
#tabellaResponsiva table td:active{text-overflow: inherit; height: fit-content; white-space: break-spaces; background-color: yellow}
#tabellaResponsiva table thead{position: sticky; top: 0;  z-index: 2}
#tabellaResponsiva table tbody{position: relative; z-index: 1; border: 1px solid black}




.spunta{text-align: center}

a{text-decoration: none; color: black}
a:hover{text-decoration: underline}

.c1 {background-color: #ffffff}
.c2 {background-color: #f0f0f0}
#tabellaResponsiva table thead th{ background-color: #fffc54; color: #00116b
}
#modifica{ background-color: white; position: static; z-index: 2}
td img{width: 40px;}
td img:hover{cursor:pointer}

